
.clear{
    clear:both;
}
.main{
    width:100%;
    font-family: "Meiryo";
}
.main a{
    text-decoration: none;
    color: blue;
}
.linked-item :hover{
    border-bottom: 1px solid black; 
}
/*移動するかも*/
.title{
    height:200px;
    line-height: 150px;
    text-align: center;
    font-size:36px;
    background-image: url(../image/title_background.jpg);
    background-size: 100% 300%;
    background-position: bottom;
}
.thumbnail{
    height:500px;
    text-align:center;
    background-color:rgb(230,230,230);
}
.heading{
    margin:15px 0 5px 0 ;
    font-size:28px;
    border-bottom: 2px solid green;
}
.sub_heading{
    margin:10px 0 2px 0;
    font-size:20px;
}

.content{
    width:765px;
    margin:0 auto;
}

.content_text{
    font-size:17px;
    line-height: 2;
    margin :0;
}

.introduce_icon{
    float: left;
}
